html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
.clearfix:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
